.bittersweet{
    background-color: #FE6F5E;
}
nav .brand-logo{
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-indent: 15px;
    letter-spacing: 2px;
    color: #fff6eb;
}

.sidenav .brand-logo{
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    letter-spacing: 2px;
    color: #fff6eb;
}
.text-shadow{
    text-shadow: 3px 3px 3px rgba(112, 12, 1, 0.5)
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #403D58;
}

h4{
    margin: 0;
}

.fa-user-plus, .fa-user-lock{
    color: #A9B2C3;
}