.bittersweet{
    background-color: #FE6F5E;
}

.cadet-blue {
    background-color: #A9B2C3;
}
nav .brand-logo, h1{
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    text-indent: 15px;
    letter-spacing: 2px;
    color: #fff6eb;
}

.flashes h5{
    line-height: 2;
}

.sidenav .brand-logo{
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    letter-spacing: 2px;
    color: #fff6eb;
}
.text-shadow{
    text-shadow: 3px 3px 3px rgba(112, 12, 1, 0.5)
}

h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #403D58;
}

h4{
    margin: 0;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.fa-user-plus, .fa-user-lock, .fa-user-cog{
    color: #A9B2C3;
}

a {
    color: #5C95FF;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.input-field .prefix.active{
    color: #5C95FF;
}
body{
    background-image: url('https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: 100%;
}
.container{
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    overflow: scroll;
}

.meal_images{
    width: 100%;
}

div.col.card-panel.m2{
    margin-left: 20px;
    height: 250px;
}

.big-text{
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;
    color: #FE6F5E;
    font-weight: 300;

}

[type="checkbox"]+span:not(.lever){
    padding-right: 25px;
}
textarea.materialize-textarea:focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: #5C95FF;
    box-shadow: 0 1px 0 0 #5C95FF;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: #5C95FF;
}
textarea.materialize-textarea:focus:not([readonly])+label{
    color: #5C95FF;
}
[type="checkbox"]:checked+span:not(.lever):before{
    border-right-color: #5C95FF;
    border-bottom-color: #5C95FF;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after{
    border: 2px solid #FE6F5E;
    background-color: #FE6F5E;
}
.input-field [type="checkbox"]+span{
    color: #403D58;
}
.carousel-img{
    height: 50%;
}

.fas, .far{
    color: #403D58;
}
.input-field label{
    color: #FE6F5E;
}
::placeholder{
    color: #A9B2C3;
}
@media (min-width: 320px) {
::placeholder{
    font-size: 11px;
}

h2 {
    font-size: 24px;
}

}

@media (min-width: 480px) {
    ::placeholder{
    font-size: 22px;
    }
    h2{
        font-size: 3.56rem;
    }
}