{% extends "base.html" %}
{% block content %}

<div class="row">
    <h2 class="center-align"> Add a Meal </h2> 
</div>
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_meal') }}">
        <div class="row">
            <div class="input-field col s6 offset-m3">
                <i class="fas fa-pencil-alt prefix"></i>
                <input placeholder="What is your meal called?" id="meal_name" name="meal_name" type="text" class="validate">
                <label for="meal_name">Meal Name</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s6 offset-m3">
                <i class="far fa-image prefix"></i>
                <input placeholder="Put a image link here" id="meal_img" name="meal_img" type="text" class="validate">
                <label for="meal_img">Image Link </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6 offset-m3">
            <i class="fas fa-utensils prefix"></i>
                    <select multiple>
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="snack">Snack</option>
                    </select>
                <label>Type of meal</label>
            </div>
        </div>
        <div class="row">
       <div class="input col m6 offset-m3" id="add_meal_checkboxes">
            <p class="center-align">
                Please tick all that apply:<br>
                <div class="row">
                <label for="dairy_free">
                    <input type="checkbox"  class="filled-in" checked="checked" id="dairy_free" name="dairy_free"/>
                        <span> Dairy-free </span>
                </label>
                <label for="nut_free">
                    <input type="checkbox" class="filled-in" checked="" id="nut_free" name="nut_free"/>
                        <span> Nut-free </span>
                </label>
                <label for="gluten_free">
                    <input type="checkbox" class="filled-in" checked="" id="gluten_free" name="gluten_free"/>
                        <span> Gluten-free </span>
                </label>
                </div>
                <div class="row">
                <label for="egg_free">
                    <input type="checkbox" class="filled-in" checked="" id="egg_free" name="egg_free"/>
                        <span> Egg-free </span>
                </label>
                <label for="vegan">
                    <input type="checkbox" class="filled-in" checked="" id="vegan" name="vegan"/>
                        <span> Vegan </span>
                </label>
                <label for="vegetarian">
                    <input type="checkbox" class="filled-in" checked="" id="vegetarian" name="vegetarian" />
                        <span> Vegetarian </span>
                </label>
                </div>
            </p>
        </div>
        </div>
        <div class="row"><p class="btn" id="addField"> + </p>
            <div class="input-field col s6 offset-m3" id="ingredient_list">
                <i class="fas fa-list-ul prefix"></i>
                <textarea id="meal_ingredients" name="meal_ingredients" class="materialize-textarea"></textarea>
                <label for="meal_ingredients">Ingredients</label>
            </div>
           
        </div>
        <div class="row">
            <p class="btn" id="addField2"> + </p>
            <div class="input-field col s6 offset-m3">
            <i class="fas fa-edit prefix"></i>
            <ol id="instructions"><label for="meal_method">Recipe Instructions</label> 
                <li><textarea id="meal_method" name="meal_method" class="materialize-textarea"></textarea></li>   
                
            </ol>
            </div>
            
        </div>
        <div class="row">
            <button type="submit" class="col s4 offset-m4 btn-large bittersweet text-shadow">
                Add My Meal <i class="fas fa-magic"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}