{% extends "base.html" %}
{% block content %}

<!-- header -->
<h1 class="big-text text-shadow center-align">Super Search</h1>

<div class="row">
    <!--Super Search Bar-->
    <form action="{{ url_for('search') }}" method="POST" class="col m8 offset-m2" >
        <div class="row">
            <h5> What Do You Fancy? </h5>
            <div class="input-field col s12">
                <textarea type="text" name="mainsearch" id="mainsearch" minlength="3" class="materialize-textarea" required ></textarea>
                <label for="mainsearch">e.g. Lasagne, Chinese, Party Food, Barbeque, Asparagus... </label>
            </div>
        </div>
        <!-- checkboxes -->
            <div class="row">
                <h5>Please show me recipes that are: </h5><br>
                <div class="input" id="preferences">
                    
                        <div class="col s6 m4">
                            <label for="check">
                                <input type="checkbox" class="filled-in" id="check" />
                                    <span> Dairy-free </span>
                            </label>
                        </div>
                        <div class="col s6 m4">
                            <label for="check1">
                                <input type="checkbox" class="filled-in" id="check1"/>
                                    <span> Nut-free </span>
                            </label>
                        </div>
                        <div class="col s6 m4">
                            <label for="check2">
                                <input type="checkbox" class="filled-in" id="check2"/>
                                    <span> Gluten-free </span>
                            </label>
                        </div>
                        <div class="col s6 m4">
                            <label for="check3">
                                <input type="checkbox" class="filled-in" id="check3"/>
                                    <span> Egg-free </span>
                            </label>
                        </div>
                        <div class="col s6 m4">
                            <label for="check4">
                                <input type="checkbox" class="filled-in" id="check4"/>
                                    <span> Vegan </span>
                            </label>
                        </div>
                        <div class="col s6 m4">
                            <label for="check5">
                                <input type="checkbox" class="filled-in" id="check5" />
                                    <span> Vegetarian </span>
                            </label>
                        </div>
                    </div> 
                    
                </div>
            <div class="row">
                <button type="submit" class="col s4 offset-m4 btn-large bittersweet text-shadow">
                    Search! <i class="fas fa-magic"></i>
                </button>
            </div>
    </form>
<br>
        
</div>
 <div class="row center-align">
            Need some inspiration? <a href="{{ url_for('browse_all') }}">Browse all recipes.</a>
</div>  

 
    {%if meals %}
        {% for meal in meals %}
            <p>{{ meals.meal_name }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}