{% extends "base.html" %}
{% block content %}
<div class="row">
    <a href="{{ url_for('get_meals') }}"><p><i class="fas fa-long-arrow-alt-left bittersweet-text"></i>Back to search</p></a>
</div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div>
                <h3 class="center-align">
                    {{ username.capitalize() }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 card-panel m4 offset-m1">
            <span> 
                <h5><i class="fas fa-utensils"></i> My Meals </h5>
            </span>
        </div>
        <div class="col s12 card-panel m4 offset-m2">
            <span> 
                <h5><i class="fas fa-list-ul"></i> My Shopping List </h5>
            </span>
        </div>
    </div>
        <div class="row">
        <div class="col s12 card-panel m4 offset-m1">
            <span> 
                <h5><i class="fas fa-grin-beam"></i> Recommended for Me </h5>
            </span>
        </div>
        <div class="col s12 card-panel m4 offset-m2">
            <span> 
                <h5><i class="fas fa-cog"></i> My Preferences </h5>
            </span>
        </div>
    </div>
    


{% endblock %}