{% extends 'base.html' %}
{% block content %}
<div class="row">
    <a href="{{ url_for('browse_all') }}"><p><i class="fas fa-long-arrow-alt-left bittersweet-text"></i>Back to browse</p></a>
</div>
<div class="row">
    <h2 class="center-align">{{ recipe.meal_name.capitalize() }}</h2>
    <p class="center-align">By {{ recipe.created_by.capitalize() }}</p>
</div>
<div class="row">
    <img src="{{ recipe.meal_img }}" alt="{{ recipe.meal_name }}" class="center">
</div>
<div class="row">
<div class="col m6 offset-m3">
    <h3 class="center-align">Ingredients</h3>

    <ul class="browser-default">
        {% for ingredient in recipe.meal_ingredients %}
            <li>{{ ingredient.capitalize() }}</li>
        {% endfor %}
    </ul>
</div>
</div>
<div class="row">
<div class="col m6 offset-m3">
    <h3 class="center-align">Method</h3>

    <ol>
        {% for step in recipe.meal_method %}
            <li>{{ step }}</li><br>
        {% endfor %}
    </ol>
</div>

</div>
<div class="row">
    <div class="col m6 offset-m3">
        <p class="center-align">Calories per serving: {{ recipe.meal_calories }}</p>
    </div>
</div>

<div class="row">
    <a href="{{ url_for('browse_all') }}"><p><i class="fas fa-long-arrow-alt-left bittersweet-text"></i>Back to browse</p></a>
</div>
{% endblock %}