{% extends "base.html" %}
{% block content %}

<div class="row">
    <a href="{{ url_for('get_meals') }}"><p><i class="fas fa-long-arrow-alt-left bittersweet-text"></i>Back to search</p></a>
</div>
    <h3 class="center-align" id="registerheading">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <span>
                    <!--username input-->
                    <div class="row">
                       <div class="input-field col s12">
                            <i class="fas fa-user-plus prefix"></i>
                            <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Username</label>
                            <div class="username-caption">Username must be between 5-15 characters, a-z 0-9 only.</div>
                        </div>
                    </div>
                    <!-- password input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix"></i>
                            <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                            <div class="password-caption">Password must be between 5-15 characters, a-z 0-9 only.</div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row">
                        <button type="submit" class="col s6 offset-s3 m4 offset-m4 btn-large bittersweet text-shadow">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </span>
            </div>
        </form>
    </div>

      <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already have an account? <a href="{{ url_for('login') }}">Log in here!</a>
            </p>
        </div>
    </div>

{% endblock %}